#top{
  margin-top: 100px;
  h1{
    font-size: 60px;
  }
}

.ui.vertical.stripe.segment{
  padding-top: 150px;
}

.top_list{
  font-size: 25px;
  margin: 15px;
}

.ui.divider#top_divider{
  margin-top: 75px;
  margin-bottom: 75px;
}
