$import-google-fonts: false;
@import 'semantic-ui';

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

body{
  background-color: whitesmoke;
}

.main_container{
  margin: 30px 30px 30px 30px;
}

.sortable {
  .draggable_icon {
    cursor: row-resize;
  }
}

.task_segment{
  margin-top: 14px;
  height: 100%;
}

.black{
  color: black;
}

.list.sortable{
  min-height: 30px;
}
