$import-google-fonts: false;
@import 'semantic-ui';

body{
  margin: 30px 30px 30px 30px;
  background-color: whitesmoke;
}

.sortable-list {
  .draggable_icon {
    cursor: row-resize;
  }
}

.task_segment{
  margin-top: 14px;
  height: 100%;
}

table#types{
  &td{
    width: 50%;
  }
}
